# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
cline/cline_task_dec-28-2024_10-07-05-pm.md
cline/cline_task_dec-28-2024_10-22-25-pm.md
cline/cline_task_dec-28-2024_10-32-06-pm.md
